---
import { ENV_VARS } from 'src/utils/constants'
import WhatsAppButtonGreenMedium from '@/assets/WhatsAppButtonGreenMedium.svg'
import { Image } from 'astro:assets'
---

<!-- whatsapp click to chat button -->
<a
  aria-label="Chat on WhatsApp"
  href={`https://wa.me/${ENV_VARS.PUBLIC_WHATSAPP_PHONE_NUMBER}?text=I'm%20interested%20in%20your%20car%20for%20sale`}
>
  <Image src={WhatsAppButtonGreenMedium} alt="Chat on WhatsApp" />
</a>
