---
// Header & Navigation UI displayed on each page.

// import LocaleSelect from '@/components/i18n/LocaleSelect.astro'
// import { Image } from 'astro:assets'
import LocalesHomeList from '@/components/i18n/LocalesHomeList.astro'
// import { getRelativeLocaleUrl } from 'astro:i18n'

// const isActive = (path: string) =>
//   getRelativeLocaleUrl(locale, path) === Astro.url.pathname
---

<header
  class="flex flex-col items-center justify-center gap-y-8 bg-foreground px-4 pb-1 pt-3 text-center text-background"
>
  <!-- <h1> -->
  <!-- <h1 dir="ltr">
    <a href={getRelativeLocaleUrl(locale, "/")}>
      <Image src={AstroImage} alt="Astro" />
      i18n Starter
    </a> -->
  <!-- </h1> -->

  <!-- <LocaleSelect /> -->

  <!-- <nav class="">
    <ul>
      <li>
        <a
          href={getRelativeLocaleUrl(locale, '/')}
          class={isActive('/') ? 'underline underline-offset-2' : null}
        >
          {tr(LABELS.HOME)}
        </a>
      </li>
      <li>
        <a
          href={getRelativeLocaleUrl(locale, '/contact')}
          class={isActive('/contact') ? 'underline underline-offset-2' : null}
        >
          {tr(LABELS.CONTACT)}
        </a>
      </li>
    </ul>
  </nav> -->
  <div class="flex flex-col">
    <h2 class="text-xl">Select Language</h2>
    <ul class="flex gap-2">
      <LocalesHomeList />
    </ul>
  </div>
</header>
